<footer class="bg-dark text-white text-center p-3 mt-4">
    © 2024 ADOPT-A-PET. All rights reserved.
    <p>We assure users that their information will not be sold or misused, and we protect the website builder from any incorrect information posted by pet owners.</p>
</footer>
